# Code compiled 
*bin*

# Eclipse project files
*.classpath*
*.settings*
*.project*
*/data/*
pom.xml.versionsBackup

# Idea project files
.idea/*
*.iml

#python virtualenv
venv/*

# Mac OS X Finder metadata files
*.DS_Store

# emacs temporary files
.saves*
\#*
.\#*

# vim temporary files
*.swp

# Python project files
*.pydevproject
*.pyc
